.container {
  text-emphasis: none;
  width: 700px;
  height: 650px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 0px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5 px #cbcbcb;
}

h1,
h2 {
  text-align: center;
}

.workday {
  display: inline-block;
}

.timeBtn {
  background-color: rgb(108, 108, 171);
  padding: 5px;
  float: left;
  width: 90px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
}

.actionBtn {
  background: url();
  padding: 5px;
  float: none;
  width: 400px;
  height: 40px;
  text-align: left;
  font-size: 20px;
}

.completeBtn {
  background-color: grey;
  padding: 5px;
  float: right;
  width: 80px;
  height: 40px;
  margin-left: 5px;
}

.timeBtn:hover {
  background-color: goldenrod;
}

.completeBtn:hover {
  background-color: cyan;
}

#footer1 {
  display: inline-block;
}
